;; Analyzed by ClojureScript 1.7.228
{:name drop-dot.runner, :doc nil, :excludes #{}, :use-macros {doo-tests doo.runner}, :require-macros {doo.runner doo.runner}, :uses nil, :requires {doo.runner doo.runner, drop-dot.core-test drop-dot.core-test}, :imports nil, :cljs.analyzer/constants {:seen #{support-functions async-test drop-dot.core-test/support-functions drop-dot.core-test/async-test :report-counters :ns :name drop-dot.core-test/core-tests :file core-tests :end-column :type :column drop-dot.core-test :summary :fail :jx.reporter.karma/karma :line :end-run-tests :end-line :begin-test-ns :error :pass :arglists :doc :end-test-ns :test}, :order [:jx.reporter.karma/karma :type :fail :error :pass :test :summary :ns drop-dot.core-test :begin-test-ns drop-dot.core-test/async-test :name :file :end-column :column :line :end-line :arglists :doc async-test :end-test-ns :report-counters :end-run-tests drop-dot.core-test/core-tests core-tests drop-dot.core-test/support-functions support-functions]}}